/* @import '~@angular/material/prebuilt-themes/deeppurple-amber.css'; */

@import '~@angular/material/prebuilt-themes/pink-bluegrey.css';
body {
  padding: 0;
  margin: 0;
  background: lightgray;
  font-family: Roboto;
}
